@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
body {
  margin: 0;
  font-family: 'Meera Inimai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C192F;
  color:#8993B1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
